@CHARSET "ISO-8859-1";
body{
	/*bg image courtesy: http://www.jeroenhoman.com/*/	
	background: url("../images/bg.jpg") repeat scroll center top #F5F1E8;
    font: 12px 'Lucida Sans','Lucida Grande','Lucida Sans Unicode',sans-serif;
}
#header{
	padding-top: 20px;
}
.name{
	/* text-align:center; */
	font-family: 'Federant', cursive;
	color:#fbfbfb;
	font-size:60px;
	margin-top:30px;
	padding-left:30px;
}
#wrapper {
    height: auto !important;
    margin: 150px auto -60px;
    min-height: 100%;
    width: 800px;
}
.description{
	border-bottom-style:groove;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	font-family: 'Ubuntu Mono', sans-serif;
	color:gray;
	font-size: 2em;
	position:relative;
	 
}
a{
	text-decoration: none;
}